<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/common.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/sub.css" type="text/css" />
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<script>
    $(document).ready(function () { });
</script>

<body>
    <div id="wrap">
        <!--S header -->
        <header class="header">
            <button class="btn_back">뒤로가기</button>
            <h1 class="logo"><img src="../static/img/common/logo.jpg" alt="YB BOT 로고" /></h1>
            <a href="/main" class="btn_home"><img src="../static/img/common/btn_home2.jpg" alt="홈" /></a>
        </header>
        <!--E header -->
        <!-- S sub_container -->
        <div class="sub_container">
            <div class="join_complete layout">
                <img src="../static/img/sub/join_complete_bg.jpg" class="bg" />
                <h2>회원가입 완료</h2>
                <p>와이비봇의 놀라운 자동매매를 경험해보세요!</p>
                <a href="/" class="btn1">로그인</a>
            </div>
        </div>
        <!-- E sub_container -->
    </div>
</body>

</html>