<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/common.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/sub.css" type="text/css" />
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</head>
<script>
    $(document).ready(function () { });
</script>

<body>
    <div id="wrap">
        <!--S header -->
        <header class="header">
            <button class="btn_back">뒤로가기</button>
            <h2>이용약관</h2>
            <a href="/main" class="btn_home"><img src="../static/img/common/btn_home2.jpg" alt="홈" /></a>
        </header>
        <!--E header -->
        <!-- S sub_container -->
        <div class="sub_container">
            <div>
                <ul class="terms_use">
                    <li>
                        <p class="title1">제1장 총칙</p>
                        <ul>
                            <li>
                                <p class="title2">제1조 (목적)</p>
                                <p class="txt1">이 약관은 주식회사 와이비팩토리(이하: 회사)가 제공하는 YBBot 관련 제반 서비스(이하: 서비스)의 이용조건 및 절차에 관한
                                    회사와 회원 간의 권리 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.</p>
                            </li>
                            <li>
                                <p class="title2">제2조 (용어의 정의)</p>
                                <p class="txt1">① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br />
                                    1. "서비스"라 함은 회사가 개발하여 제공하고, 단말기(PC, 휴대형 단말기 등의 각종 유무선 장치를 포함)에 상관없이 회원이 이용할 수 있는
                                    디지털자산 거래 서비스 및 이와 관련된 제반 서비스를 의미합니다.<br />
                                    2. “디지털자산”이라 함은 서비스에서 거래할 수 있는 비트코인, 이더리움 등 블록체인에서 전자적으로 존재하는 정보로 서비스의 대상물을
                                    말합니다.<br />
                                    3. “이용자”라 함은 회사가 제공하는 서비스를 이용하는 자(회원, 비회원 포함)를 의미합니다.<br />
                                    4. “서비스 이용계약”이라 함은 이용자가 YBBot 서비스를 이용하기 위해 YBBot 웹사이트(https://ybbot.co.kr/) 및 앱
                                    서비스를 통해 서비스 이용의 청약(회원가입)을 하고 회사의 승낙으로 성립하는 이용자와 회사와 계약을 말합니다.<br />
                                    5. “회원”이라 함은 YBBot 웹사이트 또는 앱 서비스에 접속하여 본 약관 및 개인정보처리방침에 동의하고 회원가입을 통해 회사와 서비스 이용계약을
                                    체결하고, 아이디와 비밀번호를 부여 받아 YBBot 서비스를 이용하는 고객을 말합니다.<br />
                                    6. “회원ID”라 함은 회원의 식별과 서비스 이용을 위하여 회원이 선정하고 회사가 사용을 승인하여 부여한 문자 또는 숫자의 조합을
                                    말합니다.<br />
                                    7. “비밀번호”라 함은 회원이 부여 받은 회원ID와 일치된 회원임을 확인하고, 회원의 개인정보를 보호하기 위하여 회원이 정한 문자와 숫자의 조합을
                                    말합니다.<br />
                                    8. “본인인증”이라 함은 부정하고 위법한 개인정보 사용으로부터 정보주체를 보호하기 위하여 회원가입시 휴대폰, 공인인증서, 신용카드 등을 통하여 본인을
                                    확인하는 것을 말합니다.<br />
                                    9. “게시물”이라 함은 회사의 서비스 내에 회원이 등록한 글, 사진, 동영상, 그림을 비롯한 각종 파일과 링크, 댓글 등의 정보를
                                    말합니다.<br />
                                    10. "콘텐츠"라 함은 회사가 회원에게 제공하는 부호, 문자, 도형, 색채, 음선, 음향, 이미지, 영상 등(이들의 복합체를 포함한다) 온라인 디지털
                                    형태의 정보나 자료를 말합니다.<br />
                                    11. “운영자”라 함은 회사가 제공하는 YBBot 서비스의 전반적인 관리와 운영을 담당하는 자로서 회사에서 선정한 자를 말합니다.<br />
                                    ② 본 조 제1항에서 정의하는 사항 이외의 부분은 관계법령 및 회사가 수립하여 공지 또는 통지하는 개별 서비스 정책에서 정하는 바에 따르며, 관계법령과
                                    개별 서비스별 정책에서 정하지 아니한 것은 일반적인 상관례에 따라 정의되고 해석됩니다.<br />
                                </p>
                            </li>
                            <li>
                                <p class="title2">제3조 (이용약관의 효력 및 변경)</p>
                                <p class="txt1">① 본 약관은 회사에서 운영하는 YBBot 웹사이트에 게시되어 공지됩니다.<br />
                                    ② 회원가입 시 본 약관에 동의한 경우, 회원은 동의한 때로부터 본 약관의 적용을 받게 됩니다. 웹사이트 또는 앱서비스에서 동의표시를 클릭한 경우, 본
                                    약관에 대한 동의의사로 간주됩니다.<br />
                                    ③ 회사는 「약관의 규제에 관한 법률」, 「정보통신망이용촉진 및 정보보호 등에 관한 법률」, 「개인정보보호법」, 「전자상거래 등에서의 소비자보호에 관한
                                    법률」 등 관련 법령에 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br />
                                    ④ 회사가 본 약관을 개정하는 경우에는 적용일자, 개정내용 및 개정사유를 명시하여 그 적용일자 7일 이전에 서비스 화면에 공지하거나 전자우편 또는
                                    기타의 방법으로 통지합니다. 다만, 이용자에게 불리한 내용 또는 중요한 내용의 개정의 경우에는 30일 이상 전부터 사전 공지하거나 전자우편 또는
                                    문자메세지 등으로 통지합니다.<br />
                                    ⑤ 회원은 개정되는 약관의 전체 또는 일부 내용에 동의하지 않을 권리가 있으며, 변경된 약관의 내용에 동의하지 않는 경우 회원탈퇴를 통해 이용계약을
                                    해지할 수 있습니다. 다만, 이용계약이 해지되면 로그인 후 제공되는 서비스를 이용할 수 없게 됩니다.<br />
                                    ⑥ 회원이 개정된 약관의 효력 발생일 이전에 회원 탈퇴를 하지 않거나 서비스를 계속 이용하는 경우, 회사는 해당 회원이 개정된 약관에 동의한 것으로
                                    간주합니다.</p>
                            </li>
                            <li>
                                <p class="title2">제4조 (약관 외 준칙)</p>
                                <p class="txt1">회사는 서비스에 대하여 이 약관 외에 별도의 공지사항, 개별 약관, 개별 동의 사항, 이용안내, 운영정책, 세부지침 등(이하
                                    통틀어 “세부지침”이라 합니다)을 정하여 이를 회원에게 알리거나 동의를 받을 수 있으며, 세부지침 중 회원의 동의를 받은 내용이 이 약관과 상충할
                                    경우에는 “세부지침”이 우선하여 적용됩니다.<br />
                                    이 약관에서 정하지 아니한 사항이나 해석에 대해서는 “세부지침” 및 관련 법령 또는 관례에 따릅니다</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="title1">제2장 서비스 이용 신청 및 승낙</p>
                        <ul>
                            <li>
                                <p class="title2">제5조 (서비스 이용계약의 성립)</p>
                                <p class="txt1">① 서비스 이용을 희망하는 자가 본 약관 및 개인정보 취급방침 등에 대한 동의 및 회원 가입절차에 따라 서비스 이용신청을 하고
                                    회사가 신청한 내용을 승인하여 회원 가입절차가 완료됨으로써, 회사와 회원 사이의 서비스 이용계약이 성립됩니다.<br />
                                    ② 회원 가입 시 본 약관에 대한 동의는 본 약관에 대해 동의함 박스에 체크하거나 버튼을 클릭함으로써 동의의 의사표시가 완료되는 것으로 간주됩니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제6조 (서비스 이용신청)</p>
                                <p class="txt1">① 서비스 이용을 희망하는 자는 회원 가입절차에서 회사가 요청하는 개인정보를 제공해야 합니다.<br />
                                    회원이 회사에 제공한 개인정보는 개인정보처리방침과 보호정책에 따라 관리되고 보호됩니다.<br />
                                    ② 회사는 본인 확인을 위해 필요시 본인 인증을 요구할 수 있습니다. 이 경우 회사는 수집된 정보를 미리 고지한 용도 이외에는 사용하지
                                    않습니다.<br />
                                    ③ 서비스 이용을 희망하는 자는 이용신청 시 실명 및 최신의 정보를 기입하여야 하며, 변경사항이 발생하는 경우 정보를 변경하여야 합니다.<br />
                                    이를 준수하지 않은 회원은 실명이 아니거나 정보가 부정확함으로서 발생하는 일체의 불이익에 대한 귀책사유가 인정되므로, 이로 인해 발생한 불이익에 대해
                                    회사에 대한 사후적 보상이나 권리보호를 요청할 수 없습니다.<br />
                                    ④ 타인의 명의를 도용하여 이용신청을 한 회원의 모든 ID는 삭제됨과 동시에 관련 법령에 의해 처벌 받을 수 있습니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제7조 (이용신청의 승인과 제한)</p>
                                <p class="txt1">① 회사는 서비스 이용을 희망하는 자가 회원 가입절차에 따라 정확한 정보를 제공하여 이용신청을 하고, 이용신청 당시 서비스의
                                    기술상, 관리상 조치에 문제가 없을 경우 고객의 이용신청을 승낙함을 원칙으로 합니다.
                                    단, 회사는 다음의 각 호에 해당하는 이용신청에 대해서는 승낙하지 않거나, 추후 확인을 통해 승낙을 취소 또는 계약을 해지할 수 있습니다.<br />
                                    1. 실명이 아니거나 타인의 명의를 사용하여 신청할 경우<br />
                                    2. 이용신청서의 내용을 허위로 기재하여 신청하거나 회사가 제시하는 양식에 필요한 정보를 기재하지 않은 경우<br />
                                    3. 사회질서와 미풍양속을 저해하거나, 저해할 목적으로 신청한 경우<br />
                                    4. 회사에 피해를 입히거나 부정한 영리 목적 등 기타 부정한 목적으로 서비스를 이용하고자 하는 경우<br />
                                    5. 회사의 동의없이 자신의 계산으로 하는 영리사업에 활용할 목적으로 서비스를 이용하고자 하는 경우<br />
                                    6. 본 약관에 규정한 사항을 위반하여 신청하거나 기타 회사가 정한 이용신청 요건이 미비 된 경우<br />
                                    7. 기타 회원으로서 부적절한 행위를 할 우려가 있다고 인정되는 경우<br />
                                    ② 회사는 다음의 각 호에 해당하는 경우 이용신청에 대해서 승인을 제한할 수 있고, 그 사유가 해소될 때까지 승인을 유보할 수 있습니다.<br />
                                    1. 서비스 설비 부족으로 단기간 내에 설비의 증설이 불가능하다고 회사가 판단할 경우<br />
                                    2. 서비스 상에 장애가 발생한 경우<br />
                                    3. 기타 부득이한 이유로 이용 승인이 곤란한 경우<br />
                                    4. 최근 7일 이내에 해지 기록이 있는 회원이 재가입 신청을 하려는 경우<br />
                            </li>
                            <li>
                                <p class="title2">제8조 (서비스 이용 제한 및 계약 해지)</p>
                                <p class="txt1">① 회원이 서비스 이용계약을 해지하고자 할 때에는 언제든지 홈페이지 상의 회원탈퇴 신청을 통해 이용계약을 해지하거나 이용 중지를
                                    요청할 수 있습니다.<br />
                                    ② 회사는 회원이 서비스 이용 내용에 있어서 본 약관 제 12조 내용을 위반하거나 다음 각 호에 해당하는 경우 회사는 이용 제한 규정에 따라 이용 제한
                                    및 이용 계약을 해지할 수 있습니다.<br />
                                    1. 방송통신심의위원회 등 관련 공공기관의 시정 요구가 있는 경우<br />
                                    2. 기타 관계 법령에 위배되는 행위를 한 경우 및 회사가 정한 이용제한 규정에 해당하는 경우<br />
                                    ③ 미성년인 이용자의 법정대리인으로부터 요청이 있을 경우, 회사는 회원의 서비스 이용에 제한을 가할 수 있습니다.<br />
                                    ④ 회원탈퇴 후 재가입은 회원탈퇴 7일 후에 가능하나, 이용약관 및 정책에 의거하여 이용제한을 받은 회원의 경우 회사가 임의로 재가입을 거부할 수
                                    있습니다.
                            </li>
                            <li>
                                <p class="title2">제9조 (회원정보의 변경 및 회원ID 관리)</p>
                                <p class="txt1">① 회원은 서비스 내의 내 정보 보기 또는 해당 페이지로 링크된 메뉴를 통하여 자신의 개인정보를 관리할 수 있는 페이지에 접속할
                                    수 있으며, 해당 페이지에서 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다.<br />
                                    다만, 서비스 관리를 위하여 반드시 필요한 실명, 생년월일, 성별 등은 수정할 수 없습니다. 또한 회사가 요청하는 경우, 이용자는 본인인증을 하거나
                                    회사가 요구하는 본인 확인 서류를 제출하여야 합니다.<br />
                                    ② 회원ID는 원칙적으로 변경이 불가능하며, 불가피한 사유로 이를 변경하고자 하는 경우에는 해당 ID를 해지하고 다시 회원가입 절차를 밟아 새로운
                                    ID로 가입하셔야 합니다.<br />
                                    ③ 회원은 서비스 이용을 위해 자신의 정보를 성실히 관리해야 하며 변동사항이 있을 경우 최근 상태의 정보로 변경하여야 합니다.<br />
                                    만약, 회원이 이러한 의무를 해태하여 정보 변경이 지연되거나 누락되어 발생하는 손해에 대하여 회사는 책임지지 않습니다.<br />
                                    ④ 회원ID와 비밀번호에 관한 모든 관리 책임은 회원에게 있습니다.<br />
                                    ⑤ 회사는 회원ID에 의하여 제반 이용자 관리 업무를 수행하므로 회원이 회원 ID를 변경하고자 하는 경우 회사가 인정할 만한 사유가 있어야만 회원ID를
                                    변경 할 수 있습니다.<br />
                                    ⑥ 이용 고객이 등록한 회원ID 및 비밀번호에 의하여 발생되는 사용상의 과실 또는 제3자에 의한 부정사용 등에 대한 모든 책임은 해당 이용 고객에게
                                    있습니다.<br />
                            </li>
                            <li>
                                <p class="title2">제10조 (개인정보 보호정책)</p>
                                <p class="txt1">① 회사는 관계법령이 정하는 바에 따라 회원의 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력을 합니다.<br />
                                    회원의 개인정보보호 및 사용에 대해서는 관계법령 및 회사가 정하는 개인정보보호 정책에 따릅니다.<br />
                                    단, 회사의 공식 사이트 이외의 링크된 사이트에서는 회사의 개인정보보호 정책이 적용되지 않습니다.<br />
                                    ② 회사는 회원의 귀책사유로 인해 노출된 정보에 대해서는 일체의 책임을 지지 않습니다.<br />
                                    ③ 회사는 본인 확인을 위해 필요 시 회원 또는 회원가입 신청자에게 그 사유를 고지하고 회원의 신분증 또는 이에 갈음하는 증서를 요구할 수
                                    있습니다.<br />
                                    이 경우 회사는 이를 미리 고지한 용도 이외에는 사용하지 않습니다.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="title1">제3장 회사 및 회원의 의무</p>
                        <ul>
                            <li>
                                <p class="title2">제11조 (회사의 의무)</p>
                                <p class="txt1">① 회사는 본 약관이 정하는 바에 따라 최선을 다하여 회원에게 지속적, 안정적으로 서비스를 제공해야 합니다.<br />
                                    ② 회사는 안정적인 서비스 제공을 위하여 회사의 귀책사유 없이 설비에 장애가 발생하거나 멸실된 경우에도 부득이한 사유가 없는 한 지체없이 이를 수리
                                    또는 복구합니다.<br />
                                    ③ 회사는 회원이 안전하게 서비스를 이용할 수 있도록 회원의 개인정보보호를 위한 보안 시스템을 구축하여 개인정보보호 정책을 준수합니다.<br />
                                    ④ 회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 적절한 절차를 거쳐 즉시 처리하여야 합니다.<br />다만, 즉시
                                    처리가
                                    곤란한 경우는 이용자에게 그 사유와 처리 일정을 통보하여야 합니다.<br />
                                    ⑤ 회사는 이용계약의 체결, 계약사항의 변경 및 해지 등 회원과의 계약관계 절차 및 내용 등에 있어 회원에게 편의를 제공하도록 노력합니다.</p>
                            </li>
                            <li>
                                <p class="title2">제12조 (회원의 의무)</p>
                                <p class="txt1">① 회원은 본 약관에서 규정하는 사항과 기타 회사가 정한 제반 규정, 회사가 공지하는 사항을 준수하여야 합니다.<br />
                                    회원은 회사의 업무에 방해가 되는 행위, 회사의 명예를 손상 시키는 행위를 하여서는 안됩니다.<br />
                                    ② 회원의 주소, 연락처, 전자우편 주소 등 이용계약 사항이 변경된 경우에 홈페이지 상에서 이를 수정해야 합니다.<br />
                                    수정을 하지 않거나 수정 지연으로 발생되는 책임은 회원에게 있습니다.
                                    ③ 회원은 자신의 ID와 비밀번호 등을 타인이 알거나 쉽게 추측하지 못하도록 관리할 책임이 있습니다.<br />
                                    회사에게 고의 또는 중대한 과실이 없는 한 회원에게 부여된 ID와 비밀번호 관리소홀, 부정사용에 의하여 발생하는 결과에 대한 책임은 회원에게
                                    있습니다.<br />
                                    ④ 회원은 회사의 명시적 동의가 없는 한 서비스 이용 권한, 기타 이용 계약상의 지위를 타인에게 매도, 증여할 수 없으며 서비스상의 무형자산을 담보로
                                    제공할 수 없습니다.<br />
                                    ⑤ 회원은 회사에서 제공하는 서비스를 본래의 이용목적 이외의 용도로 사용해서는 안됩니다.<br />
                                    회원은 아래 각 호의 행위를 하여서는 아니되며, 이에 해당되는 행위를 할 경우에는 본 약관 및 공지하는 운영정책에 따라 회원의 서비스 이용을 제한하거나
                                    ID의 삭제, 수사기관의 고발 조치 등 적법한 조치를 포함한 제재를 가할 수 있습니다.<br />
                                    1. 회원 가입 또는 정보 변경 시 개인 정보를 허위로 기재하는 행위<br />
                                    2. 타인의 개인정보를 도용하거나 부정하게 사용하는 행위<br />
                                    3. 회원ID, 디지털 자산, 관심종목 등을 타인과 매매하거나 매매를 유도하는 행위<br />
                                    4. 회사의 운영진 또는 직원을 사칭하는 행위<br />
                                    5. 회사로부터 특별한 권리를 받지 않고 회사의 클라이언트 프로그램을 변경하거나, 회사의 서버를 해킹 하거나 웹 사이트 또는 게시된 정보의 일부분 또는
                                    전체를 임의로 변경하거나 회사의 서비스를 비정상적인 방법으로 사용하는 행위<br />
                                    6. 회사의 프로그램 상의 버그를 악용하는 행위<br />
                                    7. 회사의 사전 승낙 없이 서비스 내 또는 웹 사이트를 이용하여 판촉활동을 하는 행위<br />
                                    8. 다른 회원의 개인정보를 수집 또는 저장하는 행위<br />
                                    9. 본 서비스를 통해 얻은 정보를 회사의 사전 승낙 없이 서비스 이용 외의 목적으로 복제하거나, 이를 출판 및 방송 등에 사용하거나 제 3자에게
                                    제공하는 행위<br />
                                    10. 타인의 특허, 상표, 영업비밀, 저작권 기타 지적재산권을 침해하는 내용을 전송, 게시, 전자우편 또는 기타의 방법으로 타인에게 유포하는
                                    행위<br />
                                    11. 청소년보호법 또는 형법에 위반되는 저속, 음란한 내용의 정보, 문장, 도형, 음향, 동영상을 전송, 게시, 전자우편 또는 기타의 방법으로
                                    타인에게 유포하는 행위<br />
                                    12. 심히 모욕적이거나 개인신상에 대한 내용이어서 타인의 명예나 프라이버시를 침해할 수 있는 내용을 전송, 게시, 전자우편 또는 기타의 방법으로
                                    타인에게 유포하는 행위<br />
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="title1">제4장 서비스 이용 총칙</p>
                        <ul>
                            <li>
                                <p class="title2">제13조 (서비스의 종류)</p>
                                <p class="txt1">① 회사는 회원에게 디지털자산 관련(거래소 API를 통한 매매 관련, 시세 정보검색 관련 서비스 등)서비스를
                                    제공합니다.<br />
                                    단, 회사가 제공하는 서비스의 종류는 회사의 사정에 의하여 수시로 변경될 수 있으며, 제공되는 서비스에 대한 저작권 및 지적재산권은 회사에
                                    귀속됩니다.<br />
                                    ② 회사는 서비스와 관련하여 회원에게 회사가 정한 이용조건에 따라 자동매매 시스템 이용 툴만 부여하며 이를 타인에게 양도하거나, 이를 활용한 유사
                                    서비스 제공 및 상업적 활동을 할 수 없습니다.<br />
                                    ③ 회사는 이용자에게 아래와 같은 컨텐츠 이용 서비스를 제공합니다.<br />
                                    1. 자동매매 시스템 : YBBot<br />
                                    2. 커뮤니티 서비스 (게시판 등)<br />
                                    3. 기타 회사가 추가 개발하거나 다른 회사와의 제휴 등을 통해 회원에게 제공하는 일체의 서비스
                                </p>
                            </li>
                            <li>
                                <p class="title2">제14조(디지털자산 자동매매 서비스 등)</p>
                                <p class="txt1">① 회사는 디지털자산 자동매매와 관련하여 다음과 같은 서비스를 제공합니다.<br />
                                    1. 시세조회 서비스<br />
                                    2. 자동거래 서비스(매수설정, 매도설정, 제한설정)<br />
                                    3. 거래알림 서비스<br />
                                    4. 거래내역조회 서비스<br />
                                    5. 기타 자동매매 관련 서비스<br />
                                    ② 회사가 제공하는 자동매매 서비스를 통하여 디지털자산을 매도 또는 매수하고자 하는 회원은 회사가 제공하는 서비스를 이용하여 거래하여야
                                    합니다.<br />
                                    ③ 회사는 회원과 회원간의 거래를 중개하지 않으며, 회원이 거래소에서 타인과 디지털자산을 자동매매 할 수 있도록 하는 서비스만을 제공합니다.<br />
                                    회사는 회원이 서비스를 이용하는 거래소에서의 디지털자산 거래의 구체적인 내용에 대하여 회원이 API 권한을 설정한 항목 이외에는 알지 못하며 해당
                                    거래를 변경하거나 취소할 수 없습니다.<br />
                                    ④ 디지털자산 자동매매는 거래가 일어난 후에는 변경하거나 취소할 수 없습니다.<br />
                                    ⑤ 회사는 서비스 프로그램의 업데이트, 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 합리적인 이유가 있는 경우 서비스의
                                    제공을 일시적으로 중단할 수 있습니다. 이 경우 회사는 사전에 서비스 초기 화면이나 공지사항 게시판을 통하여 회원에게 통지합니다. 다만, 회사가 사전에
                                    통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.<br />
                                    ⑥ 회사는 서비스의 제공에 필요한 경우 점검을 할 수 있으며, 점검시간은 서비스 제공화면에 공지한 바에 따릅니다.</p>
                            </li>
                            <li>
                                <p class="title2">제15조 (서비스의 변경)</p>
                                <p class="txt1">① 회사는 안정적인 서비스 제공을 위하여 서비스의 내용, 운영상, 기술상 사항 등을 변경할 수 있습니다.<br />
                                    ② 회사는 서비스를 변경할 경우 변경내용과 적용 일자를 명시하여 사전에 공지합니다. 다만, 회사가 사전에 공지할 수 없는 부득이한 사유가 있는 경우
                                    사후에 공지할 수 있습니다.<br />
                                    ③ 디지털자산 거래소 Open API의 업데이트 및 변경, 거래소의 제도, 정책 변경으로 인한 변경사항들에 관한 공지는 회사 웹사이트 게시판을 통하여
                                    사전에 제공되며, 회원은 이를 반드시 확인하여야 하고 회사의 권고조치를 따라야 합니다.<br />
                                    ④ 회원은 서비스 변경에 동의하지 않을 경우 회사에 거부 의사를 표시하고 이용계약을 해지할 수 있습니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제16조 (커뮤니티 이용에 대한 정책)</p>
                                <p class="txt1">① 회원은 다음 각 호의 행위를 하여서는 안됩니다.<br />
                                    1. 회사 및 제3자의 지적재산권을 침해하거나 회사의 권리와 업무 또는 제3자의 권리와 활동을 방해하는 행위<br />
                                    2. 관련 법령에 의하여 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 등)의 게시 또는 전송하는 행위<br />
                                    3. 회사의 직원 또는 서비스의 관리자를 사칭하거나 타인의 명의를 도용하여 정보를 게시, 전송하는 행위<br />
                                    4. 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일,
                                    프로그램을 포함하고 있는 자료를 게시하거나 전송하는 행위<br />
                                    5. 다른 회원을 괴롭히는 행위<br />
                                    6. 다른 회원에 대한 개인정보를 동의 없이 수집, 저장, 공개하는 행위<br />
                                    7. 회사가 제공하는 각종 서비스에 게시된 공지사항 규정을 위반하는 행위<br />
                                    ② 회원은 그 귀책사유로 인하여 회사나 다른 회원이 입은 손해를 배상할 책임이 있습니다.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="title1">제5장 손해배상, 면책조항 및 환불정책</p>
                        <ul>
                            <li>
                                <p class="title2">제17조 (회사의 손해배상 책임)</p>
                                <p class="txt1">① 회사는 본 약관을 위반한 거래를 통해서 발생한 일체의 사고에 대해서 책임을 지지 않으며, 회사의 고의 또는 중대한 과실이 없는
                                    한 회원의 과실로 인해 발생한 분쟁에 대해서 책임을 지지 않습니다.<br />
                                    ② 회사는 제3자가 권한 없이 회원의 계정을 이용할 수 있음을 알았거나 쉽게 알 수 있었음에도 불구하고 회원이 이를 즉시 회사에 알리지 않고 방치하거나
                                    누설 또는 노출하여 손실이 발생한 부분에 대해 책임을 지지 않습니다.<br />
                                    ③ 회사가 보안강화를 위하여 요구하는 추가적인 보안조치를 회원이 정당한 사유 없이 거부하여 발생한 손해에 대해 회사는 책임지지 않습니다.<br />
                                    ④ 회사는 회원의 디지털자산 거래에 일절 관여하지 않으므로, 회원이 자동매매 서비스를 통하여 얻은 투자상 손실에 대하여 책임을 지지
                                    않습니다.<br />
                                    ⑤ 회원은 자동매매 서비스에서 이용하는 거래가 투자 수익을 담보하지 못한다는 점을 이해하며, 회사는 회원이 자동매매 서비스를 통하여 얻은 투자상 손실에
                                    대하여 책임을 지지 않습니다.<br />
                                    ⑥ 회사는 고의 또는 중대한 과실이 없는 한 회원이 회사에게 디지털자산 거래소의 API 접근 권한을 설정함에 있어서 회사가 안내한 사항 이상으로 권한을
                                    설정함으로 인하여 발생한 손해에 대하여 책임지지 않습니다.<br />
                                    ⑦ 회사는 회원이 특정 봇(bot)의 사용 여부나 사용 시점, 사용 빈도 등의 선택에 일절 관여하지 아니하며, 이로 인하여 얻은 투자상 손실에 대하여
                                    책임을 지지 않습니다.<br />
                                    ⑧ 회사는 디지털자산 거래소가 고의 또는 중대한 과실이 없는 한 회사의 API 접근을 차단함으로 인하여 발생한 손해에 대하여 책임을 지지
                                    않습니다.<br />
                                    ⑨ 회원은 회사가 제공하는 자동매매 서비스가 회원이 거래소의 지갑에 보유하고 있는 디지털자산 전부를 거래 대상으로 하므로 회원이 특정 지갑에 보유한
                                    디지털자산 전부를 거래하는 것을 원하지 않는 경우 거래를 원하지 않는 만큼의 디지털자산을 자동매매 서비스를 사용하지 않는 다른 계정의 지갑으로 서비스
                                    이용 전에 미리 송금하여야 함을 이해하며, 회원이 자동매매 서비스를 이용하는 경우 회원이 지갑에 보유하고 있는 디지털자산 전부를 거래 대상으로 함에
                                    동의하는 것으로 간주합니다.<br />
                                    ⑩ 회원은 봇(bot)의 버그나 오류 등으로 인하여 거래불발, 거래지연 등 자동매매 서비스에 하자가 있는 경우에도 그 하자로 인하여 투자에 수익이
                                    발생하는 경우와 손실이 발생하는 경우가 모두 있을 수 있음을 이해하며, 회사는 자동매매 서비스의 하자로 인하여 발생한 투자 손실에 대하여 책임을 지지
                                    않습니다.<br />
                                    ⑪ 회사는 고의 또는 중대한 과실이 없는 한 본 약관에서 규정한 매매규칙을 벗어난 거래를 통해서 발생한 사고 및 회원의 과실로 인해 회원 간에 발생한
                                    분쟁에 대해서 책임을 지지 않습니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제18조 (면책조항)</p>
                                <p class="txt1">① 회사는 다음 각 호에 해당하는 경우에는 책임을 지지 않습니다.<br />
                                    1. 천재지변, 전쟁 또는 기타 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우<br />
                                    2. 회원의 고의 또는 과실로 인하여 손해가 발생한 경우<br />
                                    3. 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해<br />
                                    4. 전기통신사업법에 의한 기간통신사업자를 포함한 통신서비스 업체의 서비스 장애로 인한 경우<br />
                                    5. 제15조 3항의 회사 권고조치를 따르지 않아 손해가 발생한 경우<br />
                                    6. 암호화폐 거래소의 순간적인 홈페이지 접속 증가, 일부 종목의 주문 폭주 등으로 인한 서버의 장애가 발생한 경우<br />
                                    7. 암호화폐 거래소의 시스템 고장, 해킹, 서버 점검 등으로 서비스 제공이 중단되는 장애가 발생한 경우<br />
                                    8. 각 디지털 자산의 네트워크(예 : 비트코인 네트워크) 장애 또는 오류가 발생한 경우<br />
                                    9. 회사가 직접 제공하는 서비스가 아닌 제휴업체 등의 제3자를 이용하여 제공하는 서비스의 경우, 제휴업체 등 제3자의 고의 또는 과실로 인한
                                    경우<br />
                                    ② 회사는 회원 자신의 귀책 사유로 서비스를 이용하지 못할 경우에는 책임을 지지 아니합니다.<br />
                                    ③ 회사는 고의 또는 중대한 과실이 없는 한 회원의 본 약관 및 관계법령 위반행위로 인하여 제3자에게 발생한 손해에 대하여는 책임을 지지
                                    아니합니다.<br />
                                    ④ 홈페이지 게시판에 게시되어 있는 디지털자산에 대한 설명, 정보, 내용은 각 회원들이 자유롭게 게시하는 것으로, 회사는 각 회원들이 게시한 게시물의
                                    내용에 대하여 책임지지 않습니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제19조 (환불규정)</p>
                                <p class="txt1">① 회사는 유료 서비스의 환불에 관한 구체사항을 해당 서비스의 화면 또는 개별 약관에서 제공합니다.<br />
                                    ② 제1항에 불구하고 유료 서비스의 환불에 관한 구체사항이 해당 서비스의 화면 또는 개별 약관에서 제공되지 않는 경우에는, 회사는 제반 상황을 고려하여
                                    환불 여부 및 그 범위를 정할 수 있습니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제20조 (보증의 부인)</p>
                                <p class="txt1">① 회사는 홈페이지에 게재하는 디지털자산 거래에 관한 시장정보의 적시성 및 정확성 유지를 위해 항상 최선을 다하고 있으나 불가피한
                                    정보의 오류 및 누락, 지연의 가능성이 있을 수 있습니다.<br />
                                    ② 회사는 디지털자산을 판매하거나 구매하고자 하는 회원을 대리할 권한을 갖고 있지 않으며, 회사의 어떠한 행위도 회원의 디지털자산 거래를 위한 대리
                                    행위로 간주되지 않습니다.<br />
                                    ③ 회사는 회원간 또는 회원과 제3자간의 분쟁에 관여할 법적의무가 없으며, 이와 관련하여 어떠한 책임도 지지 않습니다. 다만,<br />
                                    이러한 분쟁의 발생이 회사의 귀책사유로 인하여 발생한 경우는 제외합니다.<br />
                                    ④ 회사는 회사에 링크된 사이트가 취급하는 상품 또는 용역에 대하여 보증책임을 지지 아니합니다.<br />
                                    회사와 회사에 연결된 사이트는 독자적으로 운영되며, 회사는 회사 연결사이트와 회원간에 행해진 거래에 대하여 어떠한 책임도 지지 아니합니다.
                                </p>
                            </li>
                            <li>
                                <p class="title2">제21조 (기타사항)</p>
                                <p class="txt1">① 본 약관에 명시되지 않은 사항이 관계 법령에 규정되어 있을 경우에는 해당 규정에 따릅니다.<br />
                                    ② 서비스 이용과 관련하여 회사와 이용자간에 발생한 분쟁에 관한 소송은 민사소송법 등 관련 법률상의 관할법원에 제기합니다.<br />
                                    ③ 회사와 회원간에 제기된 소송은 대한민국 법을 적용합니다.
                                </p>
                            </li>
                            <li>
                                <p class="txt1">부칙</p>
                                <p class="txt1">이 약관은 2021년 11월 1일부터 시행합니다.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- E sub_container -->
    </div>
</body>

</html>